@font-face {
    font-family: 'Starship';
    src: url('../fonts/StarshipGrunge.otf') format('opentype'),
         url('../fonts/StarshipGrunge.ttf') format('truetype');
    font-weight: normal;
    font-style: normal; 
}

:root{
    --ecolife-palette-1: #19270d;
    --ecolife-palette-6: #25591f;
    --ecolife-palette-2: #818c3c;
    --ecolife-palette-4: #72601b;
    --ecolife-palette-5: #593a0e;
    --ecolife-palette-3: #693202;
}

h1{
    font-family: 'SteamWreck', sans-serif;
    font-size: 20vw;
    align-items: center;
    justify-content: center;
    display: flex;
    color : var(--ecolife-palette-2);
    text-shadow: 1px 1px 0 var(--ecolife-palette-3),
    -1px 1px 0 var(--ecolife-palette-3),
    1px -1px 0 var(--ecolife-palette-3),
    -1px -1px 0 var(--ecolife-palette-3),
    0px 1px 0 var(--ecolife-palette-3),
    0px -1px 0 var(--ecolife-palette-3),
    -1px 0px 0 var(--ecolife-palette-3),
    1px 0px 0 var(--ecolife-palette-3),
    2px 2px 0 var(--ecolife-palette-3),
    -2px 2px 0 var(--ecolife-palette-3),
    2px -2px 0 var(--ecolife-palette-3),
    -2px -2px 0 var(--ecolife-palette-3),
    0px 2px 0 var(--ecolife-palette-3),
    0px -2px 0 var(--ecolife-palette-3),
    -2px 0px 0 var(--ecolife-palette-3),
    2px 0px 0 var(--ecolife-palette-3),
    1px 2px 0 var(--ecolife-palette-3),
    -1px 2px 0 var(--ecolife-palette-3),
    1px -2px 0 var(--ecolife-palette-3),
    -1px -2px 0 var(--ecolife-palette-3),
    2px 1px 0 var(--ecolife-palette-3),
    -2px 1px 0 var(--ecolife-palette-3),
    2px -1px 0 var(--ecolife-palette-3),
    -2px -1px 0 var(--ecolife-palette-3); 
    margin-top: 0;
    margin-bottom: 0;
}

body{
    background-color: var(--ecolife-palette-1);
    font-family: 'Arial', sans-serif;
    font-size: 1.5vw;
    margin: 0;
    padding: 0;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

body span{
    text-align: center;
    color: white;
    font-size: 300%;
    font-family: 'Courier New', Courier, monospace;
}

.centeringDiv{
    display: flex;
    flex-direction: row;
    visibility: hidden;
}

.trailer-container{
    width: var(--videoContainerWidth);
    overflow: hidden;
    flex-grow: 1;
    margin-left: 5%;
    margin-right: 5%;
    border-radius: 10%;
    border: 5px solid;
    margin-left: 5%;
    margin-right: 5%;
    margin-bottom: 5%;
    background-color: #693202;
}

.trailer-container video {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.elementCenteringDiv{
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
    gap: 5vw;
}

.elementRight{
    position: relative;
    width: 100%;
    height: 25vw;
}

.elementRight .hider {
    position: absolute;
    top: 0;
    height: 100%;
    left: 0;
    width: 80%; /* Adjust the width of the overlay as needed */
    background: linear-gradient(110deg, rgba(0,0,0,1) 70%, rgba(0,0,0,0) 81%);
    z-index: 2;
    color: white;
    display: flex;
}

.elementRight .hider .text{
    margin-left: 5%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap:10px;
}

.elementRight .hider .text h2{
    margin: 0;
    padding: 0;
    text-align: center;

}

.elementRight .hider .text p{
    margin: 0;
    padding: 0;
    text-align: justify;
}

.elementRight .hider .emptySpace{
    width: 200%;
}

.elementRight img {
    position: absolute;
    top: 0;
    right: 0;
    width: 50%; /* Adjust width as necessary */
    height: 100%;
    z-index: 1;
}

.elementLeft{
    position: relative;
    width: 100%;
    height: 25vw;
}

.elementLeft .hider {
    position: absolute;
    top: 0;
    height: 100%;
    right: 0;
    width: 80%; /* Adjust the width of the overlay as needed */
    background: linear-gradient(110deg, rgba(0,0,0,0) 21%, rgba(0,0,0,1) 34%);
    z-index: 2;
    color: white;
    text-align: left;
    display: flex;
}

.elementLeft img {
    position: absolute;
    top: 0;
    left: 0;
    width: 50%; /* Adjust width as necessary */
    height: 100%;
    z-index: 1;
}

.elementLeft .hider .text{
    margin-right: 5%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap:10px;
}

.elementLeft .hider .text h2{
    margin: 0;
    padding: 0;
    text-align: center;

}

.elementLeft .hider .text p{
    margin: 0;
    padding: 0;
    text-align: justify;
}

.elementLeft .hider .emptySpace{
    width: 200%;
}


